<%= form_with(model: reservation, url: reservation.new_record? ? admin_reservations_path : admin_reservation_path(reservation), local: true) do |form| %>
  <div>
    <%= form.label :user_id, "ユーザー" %><br>
    <%= form.collection_select :user_id, @users, :id, :name, prompt: "選択してください" %>
  </div>

  <div>
    <%= form.label :slot_id, "時間枠" %><br>
    <%= form.collection_select :slot_id, @slots, :id, :start_time, prompt: "選択してください" %>
  </div>

  <div>
    <%= form.label :menu_id, "施術メニュー" %><br>
    <%= form.collection_select :menu_id, @menus, :id, :name, prompt: "選択してください" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
