<%= form_with model: [:admin, @menu], local: true do |f| %>
  <div>
    <%= f.label :name, "メニュー名" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description, "説明" %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :price, "価格（円）" %>
    <%= f.number_field :price %>
  </div>

  <div>
    <%= f.label :duration, "施術時間（分）" %>
    <%= f.number_field :duration %>
  </div>

  <div>
    <%= f.label :slot_id, "時間枠" %>
    <%= f.collection_select :slot_id, Slot.order(:start_time), :id, ->(s) { "#{s.start_time.strftime("%H:%M")}〜#{s.end_time.strftime("%H:%M")}" }, prompt: "選択してください" %>
  </div>

  <div>
    <%= f.label :start_date, "提供開始日" %>
    <%= f.date_field :start_date %>
  </div>

  <div>
    <%= f.label :end_date, "提供終了日" %>
    <%= f.date_field :end_date %>
  </div>

  <div>
    <%= f.label :available, "提供中" %>
    <%= f.check_box :available %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
